body {
  background-color: rgb(14, 75, 128);
  font-family: "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial,
    sans-serif;
  margin: 0;
  color: white;
}

title {
  color: black;
  font-weight: 600;
}

h1, h2 {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 28px;
}

h2 {
  margin-top: 0;
}

.input-selection {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
}

label {
  font-weight: bold;
  margin-right: 0.5rem;
}

.labels {
    text-align: center;
}

.input-selection input {
  padding: 6px;
  margin-right: 10px;
}

#category,
#amount,
#info,
#date {
  padding: 5px;
  border-radius: 5px;
  border: none;
  margin-right: 3rem;
}

button {
  border: none;
  border-radius: 12px;
  padding: 10px 15px;
  color: white;
  font-weight: 560;
  font-size: 0.85rem;
  letter-spacing: 0.6px;
  transition: 0.4s ease-in-out;
  cursor: pointer;
}

.buttons {
  display: flex;
  gap: 1em;
  justify-content: center;
}

#addbtn {
  background-color: rgb(0, 155, 0);
}

#deletebtn {
  background-color: rgb(255, 0, 0);
}

#addbtn:hover {
  background-color: rgb(0, 0, 0);
  color: rgb(0, 255, 0);
}

#deletebtn:hover {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 39, 39);
}

.delete-btn {
  color: white;
  background-color: red;
}

.expenses-list {
  margin: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 2px solid rgb(255, 255, 255);
  padding: 8px;
  text-align: center;
}

th {
  background-color: black;
  color: white;
}

tfoot td {
  font-weight: bold;
  letter-spacing: 0.7px;
}